
<% if !@categories.empty? %>
  <h4><%= link_to "Categories", categories_path %></h4>
  <ul>
  <%@categories.each do |category| %>
    <li><%= link_to category.title, category_path(category) %></li>
  <% end %>
  </ul>
<% end %>
<br>

<%= render 'items/list' %>
